.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(20, 20, 20, 0.95); /* darkened background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    color: white;
}

.popup-content {
    text-align: center;
}

    .popup-content h1 {
        font-size: 3rem;
        margin-bottom: 20px;
    }

    .popup-content button {
        padding: 10px 20px;
        font-size: 1.2rem;
        background-color: grey;
        border: none;
        border-radius: 8px;
        color: white;
        cursor: pointer;
    }
