.Login-Popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #242424;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.Login-Popup-Content {
    background-color: grey;
    color: white;
    font-weight: bold;
    font-size: clamp(1.5rem, 2vw, 2.5rem);
    height: 70%;
    width: 80%;
    border-radius: 12px;
    text-align: center;
}



button {
    width: 200px;
    height: 75px;
    color: white;
    font-size: 50px;
    background-color: dimgray;
    border-radius: 50px;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    /* Add these lines to remove the black edge */
    border: none;

    outline: none;
}
    Button:hover {
        transform: translateY(-1px); /* Move up on hover */
        box-shadow: 0px 50px 70px rgba(0, 0, 0, 0.3); /* Add shadow */
        font-weight: bold;
    
        }

h4 {
    font-size: clamp(1rem, .4vw, 2rem);
    margin-bottom: 10px;
}
input {
    margin-bottom: 10px;
}

.Login-Button-Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Optional spacing */


}

.Close-Button-Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px; /* Optional spacing */
}
input[type="text"]:focus, input[type="password"]:focus {
    border-color: white;
    outline: none; /* This is often used to remove the default browser outline */
}