nav ul li a {
    color: white;
    text-decoration: none;
    font-family: "Times New Roman", serif;
    color: lightgrey;
    font-size: 20px;
    margin-left: -25px;
    font-weight: 50;
    margin-right: 5px;
 
}
nav ul {
    list-style: none;
}

    nav ul li a.disabled-link {
        pointer-events: none;
        color: white;
        text-decoration: none;
        font-family: "Times New Roman", serif;
        color: lightgray;


        font-weight: 50;
    }
    nav ul li a:hover{
        font-weight: bold;
        color: white;
    }